@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans Bold'),
		url('pt-sans-v9-cyrillic-700.woff2') format('woff2');
		url('pt-sans-v9-cyrillic-700.woff') format('woff');
}

@font-face {
	font-family: 'PT Sans Narrow Bold';
	font-weight: 700;
	src: local('PT Sans Narrow Bold'),
		url('pt-sans-narrow-v9-latin-700.woff2') format('woff'),
		url('pt-sans-narrow-v9-latin-700.woff') format('woff');
}
